In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "/Users/enriquevazquez/desktop/pandas-challenge/resources/purchase_data.csv"

# Reading Purchasing File and storing into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total = len(purchase_data['SN'].unique())
pd.DataFrame({'Total Players':[total]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Runnning basic calculations to obtain number of unique items, average price, etc.
* Creating a summary data frame to hold the results
* Displaying the summary data frame

In [4]:
num_uni_items = len(purchase_data['Item ID'].unique())
avg_price = round(purchase_data['Price'].mean(),2)
num_puch = len(purchase_data)
tot_revenue = sum(purchase_data['Price'])
pur_analisys = pd.DataFrame({'Number of unique Items':[num_uni_items],'Average Price':[avg_price],'Number of Purchases':[num_puch],'Total Revenue':[tot_revenue]})
pur_analisys['Average Price'] = pur_analisys['Average Price'].map('${:,.2f}'.format)
pur_analisys['Total Revenue'] = pur_analisys['Total Revenue'].map('${:,.2f}'.format)
pur_analisys

   Number of unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [5]:
Gen_Dem = purchase_data.groupby(['Gender']).SN.nunique()
pur_analisys = pd.DataFrame({'Gender':['Male','Female','Other / Non-Disclosed'],'Total Count':[Gen_Dem[1],Gen_Dem[0],Gen_Dem[2]],'Percentage of Players':[(Gen_Dem[1]/total)*100,(Gen_Dem[0]/total)*100,(Gen_Dem[2]/total)*100,]})
pur_analisys['Percentage of Players'] = pur_analisys['Percentage of Players'].map('{:,.2f}%'.format)
pur_analisys

                  Gender  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Running basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Creating a summary data frame to hold the results
* Displaying the summary data frame

In [6]:
pu_analysis = {'Gender':['Female','Male','Other / Non-Disclosed']}
purch_analysis = pd.DataFrame.from_dict(pu_analysis)

In [7]:
puch_gen_count = purchase_data['Gender'].value_counts()
price_gen_avg = purchase_data.groupby('Gender')['Price'].mean()
price_gen_sum = purchase_data.groupby('Gender')['Price'].sum()
puch_mean_person = purchase_data.groupby(['Gender','SN'])['Price'].sum()

In [8]:
purch_analysis['Purchase Count'] = [puch_gen_count[1],puch_gen_count[0],puch_gen_count[2]]
purch_analysis['Average Purchase Price'] = [price_gen_avg[0],price_gen_avg[1],price_gen_avg[2]]
purch_analysis['Total Purchase Value'] = [price_gen_sum[0],price_gen_sum[1],price_gen_sum[2]]
purch_analysis['Avg Total Purchase per Person'] = [puch_mean_person['Female'].mean(),puch_mean_person['Male'].mean(),puch_mean_person['Other / Non-Disclosed'].mean()]

In [9]:
purch_analysis['Average Purchase Price'] = purch_analysis['Average Purchase Price'].map('${:,.2f}'.format)
purch_analysis['Total Purchase Value'] = purch_analysis['Total Purchase Value'].map('${:,.2f}'.format)
purch_analysis['Avg Total Purchase per Person'] = purch_analysis['Avg Total Purchase per Person'].map('${:,.2f}'.format)
purch_analysis

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establishing bins for ages
* Categorizing the existing players using the age bins
* Calculating the numbers and percentages by age group
* Creating a summary data frame to hold the results
* Displaying Age Demographics Table

In [10]:
bins = [0,9,14,19,24,29,34,39,200]
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','+40']
age_clean = purchase_data[['SN','Age']].drop_duplicates()
age_clean['Age Range'] = pd.cut(age_clean['Age'], bins, labels=labels)
age_bins_df = pd.DataFrame(age_clean.groupby('Age Range')['Age'].count())
age_bins_df = age_bins_df.rename(columns={'Age':'Total Count'})

In [11]:
age_bins_df['Percentaje of Players'] = (age_bins_df['Total Count']/len(age_clean))*100
age_bins_df['Percentaje of Players'] = age_bins_df['Percentaje of Players'].map('{:,.2f}%'.format)
age_bins_df

           Total Count Percentaje of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
+40                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age
* Running basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Creating a summary data frame to hold the results
* Displaying the summary data frame

In [28]:
pur_age = purchase_data[['SN','Age','Price','SN']]
pur_age['Age Range'] = pd.cut(pur_age['Age'], bins, labels=labels)
pur_age_bins_df = pd.DataFrame(pur_age.groupby('Age Range')['Age'].count())
pur_age_bins_df = pur_age_bins_df.rename(columns={'Age':'Purchase Count'})

/Users/enriquevazquez/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
pur_age_bins_df['Average Purchase Price'] = pd.DataFrame(pur_age.groupby('Age Range')['Price'].mean())
pur_age_bins_df['Total Purchase Value'] = pd.DataFrame(pur_age.groupby('Age Range')['Price'].sum())

In [30]:
ñ = pd.DataFrame(purchase_data.groupby('SN')['Price'].sum())
ñl = pd.DataFrame(purchase_data[['SN','Age']])
ñl = ñl.set_index('SN')
ñ = ñ.join(ñl,how='outer')
ñ = ñ.drop_duplicates()
ñ['Age Range'] = pd.cut(ñ['Age'], bins, labels=labels)
gh = pd.DataFrame(ñ.groupby('Age Range')['Price'].mean())
pur_age_bins_df['Avg Total Purchase per Person'] = gh['Price']

In [31]:
pur_age_bins_df['Average Purchase Price'] = pur_age_bins_df['Average Purchase Price'].map('${:,.2f}'.format)
pur_age_bins_df['Total Purchase Value'] = pur_age_bins_df['Total Purchase Value'].map('${:,.2f}'.format)
pur_age_bins_df['Avg Total Purchase per Person'] = pur_age_bins_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)
pur_age_bins_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.88
20-24,365,$3.05,"$1,114.06",$4.39
25-29,101,$2.90,$293.00,$3.88
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
+40,13,$2.94,$38.24,$3.19

## Top Spenders

* Running basic calculations to obtain the results in the table below
* Creating a summary data frame to hold the results
* Sorting the total purchase value column in descending order
* Displaying a preview of the summary data frame

In [32]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [55]:
top_spnd = purchase_data[['SN','Price']]
top_spnd_avg = top_spnd.groupby('SN').mean()
top_spnd_sum = top_spnd.groupby('SN').sum()
top_spnd_count = top_spnd.groupby('SN').count()
df_top = {'Purchase Count':top_spnd_count['Price'],'Average Purchase Price':top_spnd_avg['Price'],'Total Purchase Value':top_spnd_sum['Price']}
top_spnd_df = pd.DataFrame(df_top)

In [57]:
top_spnd_df['Average Purchase Price'] = top_spnd_df['Average Purchase Price'].map('${:,.2f}'.format)
top_spnd_df['Total Purchase Value'] = top_spnd_df['Total Purchase Value'].map('${:,.2f}'.format)
top_spnd_df.head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Adairialis76               1                  $2.28                $2.28
Adastirin33                1                  $4.48                $4.48
Aeda94                     1                  $4.91                $4.91
Aela59                     1                  $4.32                $4.32
Aelaria33                  1                  $1.79                $1.79

## Most Popular Items

* Retriving the Item ID, Item Name, and Item Price columns
* Grouping by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Creating a summary data frame to hold the results
* Sorting the purchase count column in descending order
* Displaying a preview of the summary data frame

In [191]:
most_pop = purchase_data[['Item ID','Item Name','Price']]
most_pop_count = pd.DataFrame(most_pop.groupby(['Item ID','Item Name']).count())
most_pop_total = most_pop_count.merge(most_pop,how='left',left_on='Item ID',right_on='Item ID')
most_pop_total = most_pop_total.drop_duplicates()
most_pop_total = most_pop_total.rename(columns={'Price_x': 'Purchase Count', 'Price_y': 'Item Price'})
most_pop_total = most_pop_total[['Item ID','Item Name','Purchase Count','Item Price']]
most_pop_total['Total Purchase Value'] = ((most_pop_total['Purchase Count'])*(most_pop_total['Item Price']))
most_pop_total.head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,0,Splinter,4,1.28,5.12
4,1,Crucifer,3,3.26,9.78
7,2,Verdict,6,2.48,14.88
13,3,Phantomlight,6,2.49,14.94
19,4,Bloodlord's Fetish,5,1.70,8.50

## Most Profitable Items

* Sorting the above table by total purchase value in descending order
* Displaying a preview of the data frame

In [193]:
most_profit = most_pop_total.sort_values(by=['Total Purchase Value'],ascending=False)
most_profit['Item Price'] = most_profit['Item Price'].map('${:,.2f}'.format)
most_profit['Total Purchase Value'] = most_profit['Total Purchase Value'].map('${:,.2f}'.format)
most_profit.head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
750,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
340,82,Nirvana,9,$4.90,$44.10
613,145,Fiery Glass Crusader,9,$4.58,$41.22
381,92,Final Critic,8,$4.88,$39.04
436,103,Singed Scalpel,8,$4.35,$34.80